/* 
    Created on : Mar 31, 2014, 1:34:33 PM
    Author     : Bryce Franzen
*/

@font-face
{
font-family: AmandaAmatic;
src: url(fonts/AlexBrush-Regular.ttf);
}

@font-face
{
font-family: AmandaCalibri;
src: url(fonts/calibri.ttf);
}

#coupleIMG {
    position: relative;
    display: block;
    float: left;
    margin-top: 10px;
    width: 30%;
}

body{
    min-width: 1024px;
    margin: 0px;
    /*background-image: url(images/background3.png);*/
    background-color: #000000;
    background-size: 100%;
    background-repeat:repeat-y;
}

main{
    display: block;
    float: left;
    margin-left: 30px;
    margin-right: 20px;
    width: 650px;
}

#contact1{
    width: 800px;
    clear: left;
}

h2{
    font-family: AmandaAmatic;
    font-size: 35pt;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #ffffff;
    text-shadow: 1px 1px 30px #D2D2D2;
}

h3 {
    color: #269E08;
    font-family: sans-serif;
    font-size: 20pt;
    margin-top: 30px;
    margin-bottom: 5px;
    clear: left;
}

h4{
    color: #000000;
    font-family: AmandaCalibri;
    font-size: 12pt;
}

h5{
    color: #f7505a;
    font-family: AmandaAmatic;
    font-size: 16pt;
    text-transform: uppercase;
    margin-left: 25px;
}

#errors{
    font-family: AmandaCalibri;
    color: #ffffff;
    background-color: #383835;
    padding: 3px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 600px;
}

input {
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #383835;
    clear: both;
}

input:focus { 
    border: 2px solid #9C9C9A; 
    outline: none;
}

textarea {
    -moz-border-radius: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    color: #2b2b2b;
    border: 2px solid #383835;
    width: 590px;
    height: 100px;
    font-family: AmandaCalibri;
    font-size: 11pt;
}

textarea:focus { 
    border: 2px solid #9C9C9A; 
    outline: none;
}


select {
    -moz-border-radius: 10px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2px;
    background-color: #ffffff;
    color: #2b2b2b;
    border: 2px solid #383835;
}

select:focus {
    border: 2px solid #9C9C9A;
    outline: none;
}


.field {
    position: relative;
    float: left; 
    text-align: left; 
    width: 300px;
}

.field2 {
    position: relative;
    float: left; 
    text-align: left; 
    width: 150px;
}

.field3 {
    position: relative;
    float: left; 
    text-align: left; 
    width: 400px;
}

form p {
    position: relative;
    display: inline-block;
    float: left;
    font-size: 15pt;
    font-family: AmandaCalibri;
    color: #f7505a;
    margin-top: 4px;
}

span{
    color: #f7505a;
    padding-left: 10px;
    font-family: AmandaCalibri;
    font-size: 12pt;
}

label {
    color: #ffffff;
    text-shadow: 1px 1px 20px #D2D2D2;
    font-size: 12pt;
    font-family: AmandaCalibri;
    display: block;
    clear: left;
    padding-top: 10px;
}

.required{
    padding-left: 3px;
    color: #ffffff;
    font-family: AmandaCalibri;
}

#firstname{
    width: 150px;
}

#lastname{
    width: 200px;
}

#action{
    margin-left: 350px;
    margin-bottom: 50px;
    -moz-border-radius: 10px;
    border-radius: 8px;
    background-color: #383835;
    border: none;
    padding: 5px 25px;
    font-size: 12pt;
    font-family: AmandaCalibri;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

#action:hover {
    cursor: pointer;
}

//Other various Styles
#genderLabel{
    width: 200px;
}

.left{
    clear: left;
    display: inline-block;
    float: left;
}
.right{
    display: inline-block;
    float: left;
    margin-left: 20px;
}

hr{
    clear: left;
}