h1 {
	color: #223454;
	font-family: sans-serif;
	padding-left: 1px;
}

#search {
	background: #223454;
	border: none;
	padding: 5px;
	color: #fff;
	float: right;
}

#search:-moz-placeholder {
	color: #fff;
}

#submit {
	background: #2d2d2d;
	color: #fff;
}

label {
	display: block;
	padding-top: 10px;
	font-weight: 500;
	font-family: helvetica;
}

.left {
	width: 30%;
	float: left;
}

.right {
	width: 50%;
	float: left;
}